/* .Register-Card {
    padding-bottom: 3%;
    padding-top: 3%;
	position: relative   ;
	z-index: 1;
	display: flex;
	overflow: hidden;
	backface-visibility: hidden;
	flex-direction: column;
	margin: 0 auto;
	max-width: 260px;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 3px 4px 0 fade(brown, 14%),
              0 3px 3px -3px fade(rgb(59, 41, 41), 20%),
              0 2px 8px 0 fade(brown, 12%);
}

.Checkbox {
    list-style: none;
} */